<script type="text/javascript" src="../static/js/cheque.js"></script>
<div ng-controller="chequeController as vm" ng-cloack>
	<ul class="menu icon-top">
		<li><a href="/contabilidad/cheque/nuevo"><i class="fi-plus"></i> <span>Registrar cheque</span></a></li>
	  	<li><a href="#" ng-click="vm.editarCheque();"><i class="fi-pencil"></i> <span>Editar cheque</span></a></li>
	  	<li><a href="/contabilidad/cheque/buscar"><i class="fi-magnifying-glass"></i> <span>Buscar cheques</span></a></li>
	</ul>
	<hr/>
	<div class="row">
    	<div class="medium-6 columns">
	    	<label>No. Cheque
	        	<input type="text" placeholder="Del" ng-model="vm.filtros.NoCheque.min">
	      	</label>
		</div>
	    <div class="medium-6 columns">
	      <label>&nbsp;
	        <input type="text" placeholder="Al" ng-model="vm.filtros.NoCheque.max">
	      </label>
	    </div>
	</div>
	<div class="row">
    	<div class="medium-6 columns">
	    	<label>Fecha
	        	<input type="text" placeholder="Del" ng-model="vm.filtros.Fecha.min">
	      	</label>
		</div>
	    <div class="medium-6 columns">
	      <label>&nbsp;
	        <input type="text" placeholder="Al" ng-model="vm.filtros.Fecha.max">
	      </label>
	    </div>
	</div>
	<div class="row">
    	<div class="medium-12 columns">
	    	<label>Concepto
	        	<input type="text" ng-model="vm.filtros.Concepto">
	      	</label>
		</div>
	</div>
	<div class="row">
    	<div class="medium-12 columns">
	    	<label>Beneficiario
	        	<input type="text" ng-model="vm.filtros.Beneficiario">
	      	</label>
		</div>
	</div>
	<div class="row">
    	<div class="medium-12 columns">
	    	<label>Banco
	        	<input type="text" ng-model="vm.filtros.Banco">
	      	</label>
		</div>
	</div>


	<table class="table" style="width:100%;">
		<thead>
			<tr>
				<th>
					No.
				</th>
				<th>
					Fecha
				</th>
				<th>
					Monto
				</th>
				<th>
					Concepto
				</th>
				<th>
					Beneficiario
				</th>
				<th>
					Banco
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cheque in vm.cheques | filter: { Concepto: vm.filtros.Concepto, Beneficiario: vm.filtros.Beneficiario, Banco: vm.filtros.Banco }">
				<td>{{cheque.NoCheque}}</td>
				<td>{{cheque.Fecha}}</td>
				<td>{{cheque.Monto}}</td>
				<td>{{cheque.Concepto}}</td>
				<td>{{cheque.Beneficiario}}</td>
				<td>{{cheque.Banco}}</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#divHd').css('display', 'none');
	});
</script>