<script type="text/javascript" src="../static/js/cheque.js"></script>
<div ng-controller="chequeController as vm" ng-cloack>
	<ul class="menu icon-top">
		<li><a href="/contabilidad/cheque/nuevo"><i class="fi-plus"></i> <span>Registrar cheque</span></a></li>
	  	<li><a href="#" ng-click="vm.editarCheque();"><i class="fi-pencil"></i> <span>Editar cheque</span></a></li>
	  	<li><a href="/contabilidad/cheque/buscar"><i class="fi-magnifying-glass"></i> <span>Buscar cheques</span></a></li>
	</ul>
	<hr/>
	<h3>Editando cheque no. {noCheque}</h3>
	<!-- START chequeInfo -->
	<form novalidation>
	  	<div class="row">
	    	<div class="medium-6 columns">
		      	<label>Banco
		        	<input type="text" ng-model="vm.cheque.banco" ng-init="vm.cheque.banco = '{Banco}'">
		      	</label>
	    	</div>
	   	</div>
	   	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>No. Cheque
		        	<input type="text" ng-model="vm.cheque.no" ng-init="vm.cheque.no = '{noCheque}'" readonly>
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Fecha
		        	<input type="text" ng-model="vm.cheque.fecha" ng-init="vm.cheque.fecha = '{Fecha}'">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Beneficiario
		        	<input type="text" ng-model="vm.cheque.beneficiario" ng-init="vm.cheque.beneficiario = '{Beneficiario}'">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Concepto
		        	<input type="text" ng-model="vm.cheque.concepto" ng-init="vm.cheque.concepto = '{Concepto}'">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Monto
		        	<input type="text" ng-model="vm.cheque.monto" ng-init="vm.cheque.monto = '{Monto}'">
		      	</label>
		    </div>
	  	</div>
	  	<button type="button" data-toggle="guardarModal" class="button">Guardar</button>
	</form>
	<!-- END chequeInfo -->
	<div class="reveal" id="guardarModal" data-reveal>
	  <h1>Desea confirmar?</h1>
	  <a class="button" data-toggle="exampleModal111" ng-click="vm.actualizarCheque();">Si, confirmar cambios!</a>
	  <button class="close-button" data-close aria-label="Close reveal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#divHd').css('display', 'none');
	});
</script>