<script type="text/javascript" src="../static/js/cheque.js"></script>
<div ng-controller="chequeController as vm" ng-cloack>
	<ul class="menu icon-top">
		<li><a href="/contabilidad/cheque/nuevo"><i class="fi-plus"></i> <span>Registrar cheque</span></a></li>
	  	<li><a href="#" ng-click="vm.editarCheque();"><i class="fi-pencil"></i> <span>Editar cheque</span></a></li>
	  	<li><a href="/contabilidad/cheque/buscar"><i class="fi-magnifying-glass"></i> <span>Buscar cheques</span></a></li>
	</ul>
	<hr/>
	<h3>Registrar</h3>
	<form novalidation>
	  	<div class="row">
	    	<div class="medium-6 columns">
		      	<label>Banco
		      		<select ng-model="vm.cheque.banco" ng-init="vm.cheque.banco = 1">
		      			<!-- START bancos -->
		      				<option value="{id}">{casa}</option>
		      			<!-- END bancos -->
		      		</select>
		      	</label>
	    	</div>
	   	</div>
	   	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>No. Cheque
		        	<input type="text" ng-model="vm.cheque.no">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Fecha
		        	<input type="text" id="datepicker" ng-model="vm.cheque.fecha">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Beneficiario
		        	<input type="text" ng-model="vm.cheque.beneficiario">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Concepto
		        	<input type="text" ng-model="vm.cheque.concepto">
		      	</label>
		    </div>
	  	</div>
	  	<div class="row">
		   	<div class="medium-6 columns">
		      	<label>Monto
		        	<input type="text" ng-model="vm.cheque.monto">
		      	</label>
		    </div>
	  	</div>
	  	<button type="button" ng-click="vm.guardarCheque();" class="button">Guardar</button>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#divHd').css('display', 'none');
    	$( "#datepicker" ).datepicker();
	});
</script>