<div style="margin: 30px;">
	<dl class="sub-nav">
		<dd><a href="/contabilidad/main/inicio"><i class="fi-arrow-left"></i> Volver</a></dd>
		<dd><a href="#" data-reveal-id="mCuentas"><i class="fi-database"></i> Ver catálogo de cuentas</a></dd>
	</dl>
	<br/>
	<br/>
	<div class="row">
		<div class="larg-12 columns">
			<h3 class="subheader">Registrar una nueva cuenta</h3>
			<div id="al1" data-alert class="alert-box alert" style="display:none;">
				Por favor, rellene todos los campos marcados con asterisco (*) 
				<a href="#" class="close">&times;</a>
			</div>
			<div id="al2" data-alert class="alert-box success" style="display:none;">
				Los cambios se han guardado exitosamente 
				<a href="#" class="close">&times;</a>
			</div>
			<div id="al3" data-alert class="alert-box success" style="display:none;">
				La cuenta se ha eliminado exitosamente 
				<a href="#" class="close">&times;</a>
			</div>
			<div id="al4" data-alert class="alert-box alert" style="display:none;">
				La cuenta no se puede eliminar porque tiene cuentas o transacciones asociadas 
				<a href="#" class="close">&times;</a>
			</div>
			<hr/>
		</div>
	</div>
	<form method="post" action="/contabilidad/cuenta_contable/guardar">
  	<div class="row">
    	<div class="large-4 columns">
      		<label>
				Código de la cuenta (*)
        		<input type="text" id="frmCodigo" name="codigo_cuenta" onchange="cargar(event);" placeholder="00001" required=""/>
     		</label>
    	</div>
		<div class="large-4 columns">
			<label>
				Nombre de la cuenta (*)
				<input type="text" id="frmNombre" name="nombre_cuenta" placeholder="Bancos" required=""/>
			</label>
		</div>
		<div class="large-4 columns">
			<div class="row collapse">
				<label>
					Suma en (*)
					<select name="tipo_suma" id="frmTipo">
						<option value="1">Debe</option>
						<option value="2">Haber</option>
					</select>
				</label>
			</div>
		</div>
  </div>
  <div class="row">
		<div class="large-12 columns">
			<label>
				Cuenta madre (*)
				<select name="m_cuenta" id="frmMadre">
					<option value="-1">No tiene</option>
					<!-- START cuentas -->
					<option value="{codigo}">Cuenta No. {codigo}, {nombre}</option>
					<!-- END cuentas -->
				</select>
			</label>
		</div>
  </div>
  <div class="row">
	  <div class="large-3 columns">
  		<button type="submit">Guardar cuenta</button>
	  </div>
  </div>
</form>
</div>

<div id="mCuentas" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Catálogo de cuentas</h2>
  <hr/>
  <table>
	  	<thead>
			<tr>
				<th>Código</th>
				<th>Nombre</th>
				<th>Suma en</th>
				<th>Código de cuenta madre</th>
				<th>Creada el</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<!-- START cuentas2 -->
			<tr>
				<td>{codigo}</td>
				<td>{nombre}</td>
				<td>{s_{suma_en}}</td>
				<td>{madre}</td>
				<td>{creada_el}</td>
				<td><a href="#" ib="btnDelAccount" onclick="setAccountCode('{codigo}');" data-reveal-id="mConfirm">Eliminar cuenta</a></td>
			</tr>
			<!-- END cuentas2 -->
		</tbody>
  	</table>
  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="mConfirm" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">¿Está seguro de querer eliminar esta cuenta?</h2>
	<p>
		Las cuentas no se pueden eliminar una vez tengan cuentas hijas o transacciones asociadas. ¿Desea proceder
		con la eliminación de esta cuenta?
	</p>
	<form method="post" action="/contabilidad/cuenta_contable/eliminar">
		<input id="codigo_cuenta" type="hidden" name="codigo"/>
		<div style="text-align: right;">
			<button type="submit">Aceptar</button>
		</div>
	</form>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var urlHandler = new url_handler();
		urlHandler.initialize();
		if(urlHandler.isKey('error')){
			if(urlHandler.getValue('error')=='missing'){
				$('#al1').css('display', 'block');
			}
			if(urlHandler.getValue('error')=='dependency'){
				$('#al4').css('display', 'block');
			}
		}
		if(urlHandler.isKey('success')){
			if(urlHandler.getValue('success')=='true'){
				$('#al2').css('display', 'block');
			}
			if(urlHandler.getValue('success')=='deleted'){
				$('#al3').css('display', 'block');
			}
		}
	});
	
	function setAccountCode(codigo){
		$('#codigo_cuenta').val(codigo);
	}
	
	function cargar(event){
		var codigo_cuenta = $(event.target).val();
		var uri = "/contabilidad/cuenta_contable/cargar";
		var data = {
			codigo: codigo_cuenta
		};
		
		$.post(uri, data, function(response){
			if(response.exists){
				$('#frmNombre').val(response.NOMBRE);
				$('#frmTipo').val(response.SUMA_EN);
				$('#frmMadre').val(response.MADRE);
			}else{
				$('#frmNombre').val("");
				$('#frmTipo').val("");
				$('#frmMadre').val("");
			}
			
		},"json");
	}
</script>