<div style="margin: 30px;">
	<dl class="sub-nav">
		<dd><a href="/contabilidad/main/inicio"><i class="fi-arrow-left"></i> Volver</a></dd>
	</dl>
	<br/>
	<br/>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var urlHandler = new url_handler();
		urlHandler.initialize();
		if(urlHandler.isKey('error')){
			if(urlHandler.getValue('error')=='missing'){
				$('#al1').css('display', 'block');
			}
			if(urlHandler.getValue('error')=='dependency'){
				$('#al4').css('display', 'block');
			}
		}
		if(urlHandler.isKey('success')){
			if(urlHandler.getValue('success')=='true'){
				$('#al2').css('display', 'block');
			}
			if(urlHandler.getValue('success')=='deleted'){
				$('#al3').css('display', 'block');
			}
		}
	});
</script>